[Desktop Entry]
Categories=Utility;
Comment=A desktop agnostic launcher
Exec=albert --platform xcb %u
GenericName=Launcher
Icon=albert
MimeType=x-scheme-handler/albert
Name=Albert
StartupNotify=false
Type=Application
Version=1.0
X-GNOME-Autostart-Delay=3
